/* keyframes */

    /* nav keyframes */
    @keyframes animateDisplayNav {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

/* Nav Utilities */

    /* nav */
    .navOnScroll {
        background-color: gold;
    }

    /* nav ul */
    .displayNav {
        display: flex;
        animation: animateDisplayNav 0.3s ease-in-out;
    }

    /* Hamburger */
    .hamburger.animateHam .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.animateHam .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.animateHam .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
